<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
    http://www.springframework.org/schema/aop   
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">  
  
  <aop:aspectj-autoproxy/>
  <bean id ="circle" class ="org.springAop.model.Circle">
  	<property name="name" value="CircleName"/>
  </bean>
  
  <bean id ="triangle" class ="org.springAop.model.Triangle">
  	<property name="name" value="TriName"/>
  </bean>
  <bean id ="shapeservice" class ="org.springAop.service.ShapeService" autowire="byName"/>
  
  <bean id="loggingaspect" class= "org.springAop.aspect.LoggingAspect"/>
  	
  
</beans>